*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, min(300px, 100%));
    gap: 1rem;
    justify-content: center;
}

.card{
    width: 300px;
    color: white;
    background-color: #283618;
    display: grid;
    grid-template-rows: 150px 1fr;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px rgb(0 0 0 / 50%);
    padding: 1rem;

    --columnas: 1fr max-content 1fr;
    --clippy-image: circle(0% at top right);
    --transform: unset;
    --opacity: 0;
}

.card--batman{
    background-color: #0d1321;
}

.card--ironman{
    background-color: #14213d;
}

.card:hover{
    --clippy-image: circle(90% at top right);
    --transform: scale(.65) translateY(-20px);
    --columnas: 0fr max-content 1fr;
    --opacity: 1;
}

.card__figure{
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    aspect-ratio: 1/1;
    clip-path: var(--clippy-image);
    transition: clip-path .8s;
}

.card__img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card__name{
    position: absolute;
    inset: 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: var(--columnas);
    grid-template-areas: ". title .";
    place-items: center;
    transition: grid-template-columns .8s;
}

.card__title{
    font-size: 2.5rem;
    transform-origin: left;
    z-index: 9999;
    transform: var(--transform);
    grid-area: title;
    transition: .8s transform;

}

.card__text{
    opacity: 1;
    grid-row: 2/3;
    z-index: 8888;
    opacity: var(--opacity);
    transition: opacity .8s;
    padding-top: 20px;
}